.App {
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #15803d;
}

/* Add smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Fix for modal overlays */
[data-radix-dialog-overlay] {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
